<p>
  <a href="hello?id=2&strona=3">Link do strony witaj z HTML</a>
</p>

<p>
  <%= link_to('Link do strony witaj z RoR', {:action=>'hello', :id=>2, :strona=>3})%>

</p>

<p>
  <%= link_to('Link do strony index', {:action=>'index', :id=>6, :strona=>9})%>
</p>